<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>The Webbox</title>
<link href="styles.css" rel="stylesheet" type="text/css" />
<script src="javascript.js"></script> 
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.28/angular.min.js"></script>
<script src="jquery-1.11.1.js"></script>
</head>

<body ng-app="" ng-controller="customersController">
	<div id = header>
    
    <div id = logo>
    </div>
        
    <div id = menu_container>
         <ul id="sddm">
             
             <li>
    <a href="index.html"
       onmouseover="mopen('m1')"
       onmouseout="mclosetime()">HOME</a>
        <div id="m1"
             onmouseover="mcancelclosetime()"
             onmouseout="mclosetime()">
    </li>
    <li><a href="#" 
        onmouseover="mopen('m2')" 
        onmouseout="mclosetime()">PRODUCTS</a>
        <div id="m2" 
            onmouseover="mcancelclosetime()" 
            onmouseout="mclosetime()">
        <a href="products.html">Show All</a>
        <a href="#">Ultimate Box Bundle</a>
        </div>
    </li>
    <li><a href="about.html" 
        onmouseover="mopen('m3')"
        onmouseout="mclosetime()">ABOUT</a>
    
    </li>
             <li>
        <a href="basket.jsp"
           onmouseover="mopen('m1')"
       onmouseout="mclosetime()">BASKET ({{items.length}})</a>         
    </li>
             
    
</ul>
<div style="clear:both"></div>
    </div>
</div>
    
    <div id = about_container>
        

Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin elit enim, ultricies id nunc eget, aliquam pretium lorem. Maecenas vel fringilla nisl. Aenean sit amet viverra elit, at pulvinar neque. Donec eget nulla et libero tincidunt aliquam non sed est. Cras vitae lacinia risus. Sed finibus odio neque. Quisque sit amet consequat ante. Integer pretium sem sed maximus tempus. Ut tortor enim, efficitur vel molestie eget, consequat nec tortor. Nulla dapibus tortor non metus iaculis, id porta purus rhoncus. Nunc sed libero eros. Ut et eleifend enim.
        
        <br>
        <br>

Etiam sollicitudin metus a nibh condimentum vulputate. Maecenas laoreet facilisis imperdiet. Vivamus a massa ac nisi eleifend gravida in nec nisi. Curabitur ac eros accumsan ligula maximus aliquam sed tincidunt quam. Sed sollicitudin elit efficitur orci scelerisque ornare. In interdum aliquam arcu sodales aliquam. Pellentesque tristique molestie consectetur. Nulla pulvinar lorem risus, eget rhoncus dui lobortis at. Aliquam in congue dolor, eget dapibus magna.
        
        <br>
        <br>

Aliquam eget felis rutrum, imperdiet nibh at, varius elit. Proin aliquet dolor non orci accumsan, tempus vulputate sapien fermentum. Proin rhoncus libero sed dictum dictum. Praesent vel justo non nisl auctor congue. Mauris tempus laoreet aliquet. Donec bibendum elit id turpis luctus, vel rhoncus felis iaculis. Etiam dolor augue, viverra ut lorem eu, bibendum gravida mi. Aliquam eget risus eu ante malesuada malesuada ac ut turpis. Maecenas facilisis ultricies eros, et bibendum leo placerat rhoncus. In lobortis, neque nec rhoncus luctus, mi est vehicula erat, quis consectetur elit massa ut quam. Nunc id orci urna. Etiam nec elit congue, varius orci sit amet, aliquet nibh. Ut vestibulum egestas erat ac convallis. Vestibulum at metus ut risus consequat lacinia. Sed auctor neque in blandit pellentesque.
        
        <br>
        <br>

Nunc aliquet, lorem ut convallis convallis, sem lectus venenatis risus, sed vehicula nisl velit et enim. Duis pharetra, tortor aliquam mollis iaculis, augue nibh semper ipsum, quis suscipit magna libero dignissim tortor. Fusce nec finibus quam. Cras eu est lobortis, auctor augue sed, dapibus risus. Mauris non vulputate justo, ut suscipit turpis. Etiam placerat egestas mauris, nec eleifend odio auctor non. Etiam suscipit lectus id nibh finibus, a placerat arcu aliquet. Fusce vulputate pretium nisi, ac pretium erat cursus vitae. Interdum et malesuada fames ac ante ipsum primis in faucibus. Praesent consequat magna ut turpis tempus, et sollicitudin turpis tincidunt. Sed fermentum viverra fermentum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Morbi aliquet risus ante, vitae tempor enim placerat et. Ut vitae erat vitae ipsum pellentesque egestas. Ut id orci aliquam, faucibus magna et, auctor leo. Nam non massa a enim mattis scelerisque.
        
        <br>
        <br>

Etiam aliquet bibendum ante. In pretium massa at euismod suscipit. Sed porta vestibulum nunc. Praesent porttitor purus risus, non viverra dolor euismod a. Pellentesque auctor porta risus eu porttitor. Nullam at sodales nisl, at vestibulum leo. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. 
    
    </div>
        <br class = "clear" />
        
    <script>
        function customersController($scope,$http) {
          $http.get("/WebBox/BasketController")
          .success(function(response) {$scope.items = response; console.log(response);}).error(function(e){console.log(e);});
        };  
    </script>
    
</body>
</html>