<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta charset="utf-8"/>
<title>The Webbox</title>
<link href="styles.css" rel="stylesheet" type="text/css" />
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.28/angular.min.js"></script>
<script src="javascript.js"></script> 
<script src="query-1.11.1.js"></script>
</head>

<body ng-app="" ng-controller="customersController">
    <div id = header>
    
    <div id = logo>
    </div>
        
    <div id = menu_container>
         <ul id="sddm">
             
             <li>
    <a href="index.html"
       onmouseover="mopen('m1')"
       onmouseout="mclosetime()">HOME</a>
        <div id="m1"
             onmouseover="mcancelclosetime()"
             onmouseout="mclosetime()">
    </li>
    <li><a href="#" 
        onmouseover="mopen('m2')" 
        onmouseout="mclosetime()">PRODUCTS</a>
        <div id="m2" 
            onmouseover="mcancelclosetime()" 
            onmouseout="mclosetime()">
        <a href="products.html">Show All</a>
        <a href="#">Ultimate Box Bundle</a>
        </div>
    </li>
    <li><a href="about.html" 
        onmouseover="mopen('m3')"
        onmouseout="mclosetime()">ABOUT</a>
        
    </li>
    <li>
        <a href="basket.jsp"
           onmouseover="mopen('m1')"
       onmouseout="mclosetime()">BASKET ({{items.length}})</a>         
    </li>
             
    
</ul>
<div style="clear:both"></div>
    </div>
</div> <!--End of header-->
    
    <div id = content_container>
    <div id = content_top>
    
    </div>
    
    <div id = content_bottom>
    
    <div class = content_bottom_block>
    <div class = block_content>
        <a href="#">
            <img src="block_offer.png" alt="overload" style="opacity: 1.0;"
                 onmouseover="hoverImage(this, 0.7)" onmouseout="hoverImage(this, 1.0)"/>
        </a>
    </div>
    <a href="#">
    <div class = button>
    	READ MORE
    </div>
    </a>    
    </div>
    
    <div class = content_bottom_block>
    <div class = block_content>
        <a href="#">
    <img src="block_boxes.png" alt="overload" style="opacity: 1.0;"
                 onmouseover="hoverImage(this, 0.7)" onmouseout="hoverImage(this, 1.0)"/>
        </a>
    </div>
    <a href="#">
    <div class = button>
    	READ MORE
    </div>
            </a>
    </div>
    
    <div class = content_bottom_block_right>
    <div class = block_content>
        <a href="#">
    <img src="block_gift.png" alt="overload" style="opacity: 1.0;"
                 onmouseover="hoverImage(this, 0.7)" onmouseout="hoverImage(this, 1.0)"/>
        </a>
    </div>
        <a href="#">
    <div class = button>
    	READ MORE
    </div>
            </a>
    </div>
    
    <div class = content_bottom_block>
    <div class = block_content>
        <a href="#">
    <img src="block_business.png" alt="overload" style="opacity: 1.0;"
                 onmouseover="hoverImage(this, 0.7)" onmouseout="hoverImage(this, 1.0)"/>
        </a>
    </div>
    <a href="#">
    <div class = button>
    	READ MORE
    </div>
            </a>
    </div>
    
    <div class = content_bottom_block>
    <div class = block_content>
        <a href="#">
    <img src="block_cat.png" alt="overload" style="opacity: 1.0;"
                 onmouseover="hoverImage(this, 0.7)" onmouseout="hoverImage(this, 1.0)"/>
        </a>
    </div>
    <a href="#">
    <div class = button>
    	READ MORE
    </div>
            </a>
    </div>
    
    <div class = content_bottom_block_right>
    <div class = block_content>
        <a href="#">
    <img src="block_overload.png" alt="overload" style="opacity: 1.0;"
                 onmouseover="hoverImage(this, 0.7)" onmouseout="hoverImage(this, 1.0)"/>
        </a>
    </div>
    <a href="#">
    <div class = button>
    	READ MORE
    </div>
            </a>
    </div>
    
    </div> <!--End of content bottom-->
    
    </div>

    <script>
        function customersController($scope,$http) {
          $http.get("/WebBox/BasketController")
          .success(function(response) {$scope.items = response; console.log(response);}).error(function(e){console.log(e);});
        }; 
    </script>
    
</body>
</html>