<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>The Webbox</title>
<link href="styles.css" rel="stylesheet" type="text/css" />
<script src="jquery-1.11.1.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.28/angular.min.js"></script>
<script src="javascript.js"></script>
<script src="products.js"></script>

</head>

<body ng-app="" ng-controller="customersController">
	<div id = "header">
    
    <div id = "logo">
    </div>
        
    <div id = "menu_container">
         <ul id="sddm">
             
             <li>
    <a href="index.html"
       onmouseover="mopen('m1')"
       onmouseout="mclosetime()">HOME</a>
        <div id="m1"
             onmouseover="mcancelclosetime()"
             onmouseout="mclosetime()"></div>
    </li>
    <li><a href="#" 
        onmouseover="mopen('m2')" 
        onmouseout="mclosetime()">PRODUCTS</a>
        <div id="m2" 
            onmouseover="mcancelclosetime()" 
            onmouseout="mclosetime()">
        <a href="#">Show All</a>
        <a href="#">Ultimate Box Bundle</a>
        </div>
    </li>
    <li><a href="about.html" 
        onmouseover="mopen('m3')"
        onmouseout="mclosetime()">ABOUT</a>
        
    </li>
             <li>
        <a href="basket.jsp"
           onmouseover="mopen('m1')"
       onmouseout="mclosetime()">BASKET ({{items.length}})</a>         
    </li>
             
    
</ul>
<div style="clear:both"></div>
    </div>
</div>
    
    <div id = "content_container">
        <div id = "products_top">
            <div id = "search_holder">
                <form id = "search">
                    <label for ="1">0-100 kr<input type = "radio" id = "1" name = "price" value = "100"></label>
                    <label for = "2">101-500 kr<input type = "radio" id = "2" name = "price" value = "500"></label>
                    <label for = "3">501-1000 kr<input type = "radio" id = "3" name = "price" value = "1000"></label>
                <input class = "textfield" type = "text" id = "text" name = "textsearch" placeholder = "Search by text">
                <input type="button" id="send_button" value="Filter products">
                </form>
            </div>
        </div>
        
        <div id = "content_bottom">
        </div>
    <br class = "clear"/>
    </div>
            
    <script>
        function customersController($scope,$http) {
          $http.get("/WebBox/BasketController")
          .success(function(response) {$scope.items = response; console.log(response);}).error(function(e){console.log(e);});
        };
    </script>
    
</body>
</html>