@charset "utf-8";
/* CSS Document */

body {
	margin: 0px;
	padding: 0px;
	background-color: #f1f1f1;
}

a{
    font-family: arial, sans-serif;
    font-size: 16px;
    color: #FFF;
    text-decoration: none;
}

h1{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 50px;
	color: #FFFFFF;
}

#sddm{
    margin: 0;
	padding: 0;
	z-index: 30
}

#sddm li{
    margin: 0;
	padding: 0;
	list-style: none;
	float: left;
	font: bold 16px arial
}

#sddm li a{
    display: block;
	margin: 0px;
	padding: 5px 10px 5px 10px;
	background: #80b4e0;
	color: #FFF;
	text-align: center;
	text-decoration: none
}

#sddm li a:hover{
    background: #709dc3
}

#sddm div{
    position: absolute;
	visibility: hidden;
	margin: 0;
	padding: 0;
	background: #EAEBD8;
}

#sddm div a{
        position: relative;
		display: block;
		margin: 0;
		padding: 5px 10px 5px 10px;
		width: auto;
		white-space: nowrap;
		text-align: left;
		text-decoration: none;
		background: #80b4e0;
		color: #FFF;
		font: 16px arial;
}

#sddm div a:hover{
    background: #709dc3;
    color: #FFF
}

#header{
	background-color: #80b4e0;
	width: 100%;
	height: 175px;
	position: relative;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 36px;
	color: #FFF;
	
}

#menu_container{
    min-width: 150px;
    max-width: 375px;
    height: 25px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    font-size: 16px;
    position: relative;
}

#logo{
	background-image: url(logo2.png);
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
	width: 100%;
	height: 145px;
}

#header_text{
	width: 100%;
	text-align: center;
	padding-top: 45px;
}

#content_container{
	width: 1000px;
        min-height: 400px;
	background-color: #FFF;
	margin-top: 35px;
	margin-left: auto;
	margin-right: auto;
        clear: both;
}

.clear{
    clear: both;   
}

#content_top{
	width: 900px;
	height: 200px;
	padding: 0px 25px 0px 25px;
	margin: 0px 25px 0px 25px;
	border-bottom: 1px solid lightgray;
    background-image: url(content_top.png);
    background-position: center;
    background-repeat: no-repeat;
}

#products_top{
    width: 900px;
    height: 100px;
    padding: 0px 25px 0px 25px;
    margin: 0px 25px 0px 25px;
    background-image: url(products_top.png);
    background-repeat: no-repeat;
    border-bottom: 1px solid lightgray;
}

#slideshow #slidesContainer{
    margin:0 auto;
    width:850px;
    height:200px;
    position:relative;
    overflow:auto;
}

.slide{
    margin:0px;
    width:830px; /* reduce by 20 pixels to avoid horizontal scroll */
    height:200px; 
    position: relative;
    float: left;
}

.control{
    display:block;
    width:67px;
    height:64px;
    text-indent:-10000px;
    position:absolute;
    cursor: pointer;   
}

#rightControl{
    top:0;
    right: 0;
    background: url(right_arrow.png) no-repeat;
}

#leftControl{
    top:0;
    left: 0;
    background: url(left_arrow.png) no-repeat;
}

#content_bottom{
	width: 950px;
	height: 100%;
	padding: 0px;
	margin: 0px 25px 25px 25px;
}

#products_bottom{
    width: 950px;
	height: 100%;
	padding: 0px;
}

.products_bottom_block{
    width: 250px;
	height: 200px;
    float: left;
    padding: 0px 30px 0px 30px;
	margin-top: 25px;
	margin-bottom: 25px;
    font-family: arial, sans-serif;
    font-size: 14px;
    color: #333333;
    text-align: right;
}

.content_bottom_block{
	width: 250px;
	height: 200px;
	float: left;
	margin-right: 99px;
	margin-top: 25px;
	margin-bottom: 25px;
}

.content_bottom_block_right{
	width: 250px;
	height: 200px;
	float: left;
	margin-top: 25px;
	margin-bottom: 25px;
}

.block_content{
	width: 250px;
	height: 129px;
	border-bottom: 1px solid #646363;
}

.button{
	background-image: url(button.jpg);
	background-repeat:no-repeat;
	width: 157px;
	height: 58px;
	font-size: 20px;
	margin-top: 12px;
	color: #FFF;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	font-weight: bold;
	padding-top: 15px;
	float: right;
}

.button:hover{
    opacity: 0.7;   
}

.button a{
    font-family: arial;
    font-size: 20px;
}

.button a:hover{
    color: #dcdcdc;
}  

#search_holder{
    float: right;
    margin-top: 40px;
    font-family: arial, sans-serif;
    color: #333333;
    font-size: 14px;
    font-style:italic;
}

.textfield{
    width: 250px;   
}

.button_add_cart {
    background-image: url(button.jpg);
	background-repeat:no-repeat;
	width: 157px;
	height: 58px;
	font-size: 20px;
	margin-top: 12px;
	color: #FFF;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	font-weight: bold;
	padding-top: 15px;
	float: right;
}

.cart_item_block {
    width: 950px;
    height: 129px;
    margin-top: 25px;
    float: left;
    font-family: arial, sans-serif;
    color: #333333;
    font-style: italic;
    border-bottom: 1px solid #999999;
}

.cart_item_image {
    width: 250px;
    height: 129px;
    padding: 0px;
    margin: 0px;
    float: left;
}

.cart_item_description {
    width: 550px;
    height: 64px;
    padding: 40px 25px 25px 25px;
    margin: 0px;
    float: left;
}

.cart_item_delete {
    width: 100px;
    height: 129px;
    padding: 0px;
    float: left;
}

#checkout_container {
    width: 950px;
    margin-top: 35px;
    padding-top: 35px;
    height: 65px;
    font-size: 24px;
    color: #333333;
    font-family: arial, sans-serif;
    text-align: center;
    font-style: italic;
    float: left;
}

#basket_container {
    width: 975px;
    height: 100%;
	background-color: #FFF;
	margin-top: 35px;
    margin-bottom: 35px;
    padding-bottom: 35px;
	margin-left: 25px;
        float: left;
    
}

#about_container {
    width: 950px;
    padding: 25px 25px 25px 25px;
    height: 100%;
    background-color: #FFF;
    margin-top: 35px;
    margin-bottom: 35px;
    margin-left: auto;
    margin-right: auto;
    clear: both;
    font-family: arial, sans-serif;
    font-size: 16px;
    color: #333333;
}

#send_button {
    width: 100px;
    height: 25px;
    border: 1px solid #999999;
    background-color: #FFF;
    color: #666666;
}

#send_button:hover {
    width: 100px;
    height: 25px;
    border: 1px solid #999999;
    background-color: #b9d5ed;
    color: #FFF;
}

#basket_top {
    width: 925px;
	height: 200px;
	padding: 0px 0px 0px 25px;
	margin: 0px 25px 0px 25px;
	border-bottom: 1px solid lightgray;
    background-image: url(top3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    float: left;
}

.delete_button {
    background-image: url("remove_button.jpg");
    width: 100px;
    height: 100px;
    border: 0px;
}


